.booking-pattern {
    left: 0;
    top: 0;
    max-width: 40%;
    z-index: -1;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form .main-btn {
    max-width: 170px;
    margin: 0px auto;
}

.booking-form input {
    background-color: #CEDCFF;
    border: none;
    border-radius: 999px;
    color: #000;
    padding: 14px 16px;
}

.booking-form input:focus {
    outline-color: var(--light-main-color);
}