/* Hero Section */

.hero-section {
    padding-bottom: 120px;
}

.hero-text {
    flex-basis: 65%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
}

.hero-text h1 span {
    color: var(--main-color);
}

.hero-text p {
    margin: 15px 0px;
    color: var(--text-color);
    font-size: 18px;
}

.download-btn img {
    max-width: 125px;
}

.download-btn {
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px 5px #00000003;

}

.download-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px #0000001a;
}

.hero-img {
    position: relative;
    left: 12%;
    min-width: 400px;
}

.pattern-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100vh;
    z-index: -1;
    max-width: 50%;
}



/* Responsive */


@media (max-width:992px) {
    .pattern-bg {
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width:767px) {
    .pattern-bg {
        max-width: 70%;
    }

    .hero-section {
        flex-direction: column;
        padding-bottom: 20px;
    }
}