.details-page {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-page .details-pattern {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}