.testimonials {
    position: relative;
    background-color: #F7FBFF;
}

.testimonial-card {
    background-color: #fff;
    box-shadow: 0px 12px 24px 0px #104C8B29;
    border-radius: 24px;
    overflow: hidden;
    height: 390px;
}

.person-img {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.person-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person-test-details {
    flex: 1;
}

.person-review h3 {
    font-size: 60px;
    margin: 0px !important;
    font-weight: 500;
}


.person-review span {
    font-weight: 500;
    font-size: 20px;
}

.swiper-slide {
    display: flex;
    height: auto;
}