@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: #000;
}

ul {
    list-style: none;
    padding: 0px !important;
    margin: 0px !important;
}



:root {
    --main-color: #1572D3;
    --hover-main-color: #115baa;
    --light-main-color: #1572D31A;
    --text-color: #272727;
    --light-text-color: #959595;
}

.main-btn {
    background-color: var(--main-color);
    height: 40px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    min-width: 125px;
    transition: 0.3s ease;
}

.main-btn:hover {
    background-color: var(--hover-main-color);
}

.outline-btn {
    background-color: transparent;
    height: 40px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-transform: capitalize;
    color: var(--text-color);
    border: solid 1px var(--light-text-color);
    font-weight: 500;
    min-width: 125px;
    width: fit-content;
    transition: 0.3s ease;
}

.outline-btn:hover {
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}

.my-badge {
    display: block;
    background-color: var(--light-main-color);
    color: var(--main-color);
    padding: 8px 16px;
    border-radius: 8px;
    width: fit-content;
    text-transform: uppercase;
}

.section-title {
    color: #333;
    font-size: 35px;
    font-weight: 500;
}