.car-card {
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 12px 24px 0px #104C8B29;
}

.car-img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
}

.car-card-title {
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reviews i {
    color: #EFBF14;
}

.car-spec {
    color: var(--light-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.price-wrapper h4 {
    font-size: 16px;
    color: var(--light-text-color);
    font-weight: 400;
    margin-bottom: 0px !important;
}

.price-value {
    font-size: 16px;
    font-weight: 600;
}